body{
    background-color: rgb(241, 206, 194);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} 
.centro{
text-align: center;
}
.foto{
    text-align: center;
}
